# source data
Posts/
Posts_97/
Posts_165/
Posts_starwars/
Posts_unscraped68/
Posts_all/

Profiles/
Profiles_97/
Profiles_165/
Profiles_starwars/
Profiles_unscraped68/

IMDb_Datasets/

# Large files
Image/Sample/output/IGimgFeatureVec.csv
MRM/latent_factor/
MRM/weight/
Text/model/GoogleNews-vectors-negative300.bin

# Public repo
MRM/.git/
MRM/.gitignore
Baseline/.git/
Baseline/**/.git/
Baseline/**/.gitignore
Baseline/**/LICENSE
Baseline/**/README.md

**/*.zip
**/*.h5
**/*.png
**/*.jpg
**/*.jpeg
**/*.avi
**/*.mp4


# jupyter notebook
**/.ipynb_checkpoints/
