# source data
Posts/
Posts_all/
Profiles/

Image_20genres/IGimg/
Image_20genres/Poster/
Video/Trailers/
Video/SpliTrailers/
Video/2018Movie/
Video/2018Trailers/
Video/2018SplitTrailers/

# Large files
Image_20genres/Sample/output/IGimgFeatureVec.csv
MRM/vector/IGimgFeatureVec.csv
Text_20genres/model/GoogleNews-vectors-negative300.bin

**/*.h5
**/*.jpg
**/*.jpeg
**/*.avi
**/*.mp4

# jupyter notebook
**/.ipynb_checkpoints/
